@mixin flexColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRow(){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


$blue: #3498db;
$green: #2ecc71;

.loginWrapper {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

form {
    @include flexColumnCenter;
    width: 100%;
    height: 70vh;
    max-width: 500px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
}

div {
    @include flexColumnCenter;
}

input, button, .register {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $green;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    &:hover {
        width: 280px;
        border-color: $blue;
    }
}

.register {
    text-decoration: none;
}