@import './App';
@import './Auth';

$lightTransparent: rgba(0, 0, 0, 0.3);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContain {
    @extend .App;
}

.dashContain {
    @extend form;
    width: 90vw;
    max-width: 90vw;
    height: 90vh;
}

.header {
    @include flexRow;
    @extend .dashContain;
    position: absolute;
    align-items: center;
    top: 5vh;
    background-color: $lightTransparent;
    width: 100%;
    height: 5vh;
}

.logout {
    @extend button;
    width: 5rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

