* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.App, .mainContain {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/ornament.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginWrapper {
  width: 50vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.dashContain, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70vh;
  max-width: 500px;
  padding: 80px 40px 40px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}

.createTicket {
  position: absolute;
  top: 20vh;
  right: 40vh;
  
}


.userTickets {
  position: absolute;
  width: 85%;
  height: 75%;
  left: 7vw;
  top: 18vh;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.9);
  overflow: scroll;
}

input, button, .logout, .register {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  align-content: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.logout {
  position: absolute;
  right: 5vw;
  top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  text-align: center;
  align-content: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}


.newTicket {
  position: absolute;
  top: 18vh;
  right: 10vw;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 3rem;
  height: 3rem;
  outline: none;
  color: white;
  border-radius: 100%;
  text-decoration: none;
  transition: 0.25s;
}

.back {
  position: absolute;
  top: 0.5vh;
  left: 2vw;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 3rem;
  height: 3rem;
  outline: none;
  color: white;
  border-radius: 100%;
  text-decoration: none;
  transition: 0.25s;
}

input:hover, button:hover, .logout:hover, .register:hover {
  width: 280px;
  border-color: #3498db;
}

.back:hover, .newTicket:hover {
  width: 3.5rem;
  height: 3.5rem;
}

.logout:hover {
  width: 6rem;
  border-color: #3498db;
}


.register {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashContain, .header {
  width: 90vw;
  max-width: 90vw;
  height: 90vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  align-items: center;
  top: 5vh;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 5vh;
}

.logout {
  width: 5rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=dash.css.map */