
.sideBarTix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title {
    font-size: 2rem;
    border-bottom: 2px solid lightgray;
    margin: 5px 0px;
    margin-bottom: 10px;
}


  .ticketItems {
    position: relative;
    left: -30vw;
    margin: 15px;
    color: white;
    width: 18vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(172, 172, 172, 0.3);
    border: 2px solid rgb(143, 143, 143);
    border-radius: 2px;
    text-align: center;
}

.openTicket {
    position: absolute;
    right: 2vw;
    width: 58vw;
    /* height: 5vh; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* border-radius: 10px; */
    /* z-index: 1; */
    overflow:scroll;
}


button .link {
    text-decoration: none;
    border: none;
}

.ticketItems:hover {
    cursor: pointer;
}