
.sideBarTix {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-size: 2rem;
    border-bottom: 2px solid lightgray;
    margin: 5px 0px;
    margin-bottom: 10px;
}

  .ticketItems {
    margin: 15px 0px;
    color: white;
    width: 18vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(172, 172, 172, 0.3);
    border: 2px solid rgb(143, 143, 143);
    border-radius: 2px;
    text-align: center;
}


button .link {
    text-decoration: none;
    border: none;
}

.ticketItems:hover {
    cursor: pointer;
}